<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Stock</title>
</head>
<body class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1>¡Bienvenido al Sistema de Stock!</h1>
        <p>Has ingresado correctamente. Aquí podrás ver tus productos pronto.</p>
        <hr>
        <a href="{{ url_for('home') }}" class="btn btn-danger" type="button">Cerrar Sesión</a>
    </div>
</body>
</html>